<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:remove="all">Template for HTML email with inline image</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{hello}">Bonjour</p>
<p th:text="#{request_created_by_user_body_1(${user_name}, ${request_name})}">Manuel Sanchez a besoin d'un signe pour le mot test.</p>
<p th:text="#{request_created_by_user_body_2(${url})}">Vous pouvez l'aider via le lien suivant https://signs.bougetesmains.club</p>
<p th:text="#{thank}">Merci</p>
<P><b>Projet Luigi - la Signothèque Open Source de BougeTesMains</b></P>
<p>
  <img width="107" height="107" th:src="|cid:${imageResourceName}|"/>
</p>
<p style="color:red;" th:text="#{request_created_by_user_footer_1}">NB : cet email est un envoi automatique de l'application</p>
<p style="color:red;" th:text="#{request_created_by_user_footer_2}">Merci de ne pas y répondre</p>
</body>
</html>